p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50pt;
    background: red;
    margin-top: 0;
}

.countPosition{
    float: right;
}